@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Permanent+Marker&family=Roboto+Mono:wght@300&display=swap');

body{
    width: 100vw;
    margin: auto;
    background-color: #00C9A7;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer{
    background-color: black;
}

footer{
    margin-top: auto;
    color: aliceblue;
    font-family: 'Caveat', sans-serif;
    font-size: 20px;
    float: right;
    text-align: right;
    margin-right: 20px;
    width: 100vw;
}

footer a{
    color: aliceblue;
}

/* ** ------- Hangman ------- ** */

.hangman-outer{
    width: 90vw;
    padding: 50px 50px;
    border-radius: 30px;
    background-color: #B39CD0;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.hangman-title{
    font-size: 2em;
    text-transform: uppercase;
    font-family: 'Permanent Marker', sans-serif;
    text-align: center;
}
/* .hangman-image{
    max-width: 45%;
} */

.hangman-image img{
    max-width: 70vw;
    overflow: hidden;
}

.game-box{

}
.hint{
    font-family: 'Caveat', sans-serif;
    font-weight: 600;
    font-size: 2em;
}
.hint p{
    display: inline-block;
}
.letters{
    margin-top: 100px;
    list-style: none;
    display: flex;
    align-self: end;
    gap: 10px;
    margin-bottom: 50px;
}

.letter{
    width: 30px;
    border-bottom: 3px solid black;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Roboto Mono', sans-serif;
    text-align: center;
}
.guessed{
    border-color: transparent;
    pointer-events: none;
}

.keyboard{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5px;
}

.keyboard button{
    color: whitesmoke;
    font-size: large;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    padding: 7px;
    border: 1px white solid;
    background-color: #00C9A7;
    border-radius: 4px;
    text-transform: uppercase;
    width: calc(100% / 9 - 5px);
}
/* 
font-family: 'Caveat',
cursive;
font-family: 'Permanent Marker',
cursive;
font-family: 'Roboto Mono',
monospace; */

img {
    height: 400px;
    width: 400px;
    overflow: hidden;
    align-self: center;
    padding: 20px;
}

#win{
    position:fixed;
    display: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.win-content{
    display: grid;
    background-color: aliceblue;
    padding: 30px;
    align-items: center;
    justify-content: center;
}

.gif{
    position: relative;
    margin: auto;
    display: block;
}
#loss{
    position: fixed;
    display: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
}
.loss-content{
    display: grid;
    background-color: aliceblue;
    padding: 30px;
    align-items: center;
    justify-content: center;
}
.game-end{
    display: block;
    margin: auto;
}
@media screen and (max-width: 349px){

}

@media screen and (max-width: 540px){

    img {
            height: auto;
            width: 80vw;
            margin: auto;
            overflow: hidden;
        }
}

@media screen and (max-width: 960px){

}

